<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>codelint</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        .firstDiv{
            width:200px;
            height:200px;
            margin:30px 10px 10px 10px
        }
        .bigDiv{
            width:465px;
            height:520px;
            margin:10px 10px 10px 10px
        }
        .secondDiv{
            width:200px;
            height:200px;
            margin:-440px 100px 100px 250px
        }
        .thirdDiv{
            width:200px;
            height:200px;
            margin:-70px 100px 100px 250px
        }
        .smallPannel{
            width:200px;
            height:200px;
        }
    </style>
</head>
<body>
<div>
    <div style="margin: -50px 10px 100px 10px;">
        <img src="/img/logo.png" style="width: auto; height: auto;margin: 10px 10px -30px 10px;"/>
        <ul class="nav nav-tabs" style="margin: -100px 10px 10px 400px">
            <li class="active"><a href="/home/brief">首页</a></li>
            <li><a href="/tasks/list">普通任务</a></li>
            <li><a href="/compare/list">对比任务</a></li>
            <li><a href="/tool/direct">工具对比</a></li>
        </ul>
        <form th:action="@{/logout}" method="post" style="margin: -40px 10px 10px 1800px">
            <input type="submit" value="注销"/>
        </form>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">检测任务数：<b th:text="${brief.taskNum}"/></h3>
        </div>
    </div>
    <div class="panel panel-warning" style="width:900px;hight:900px">
        <div class="panel-heading">
            <h3 class="panel-title">最近的普通任务</h3>
        </div>
        <div class="panel-body">
            <div class="panel panel-info" style="width:300px;hight:300px">
                <div class="panel-heading">
                    <h3 class="panel-title">任务名：<b th:text="${brief.taskBriefVOList[0].taskName}"></b></h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">检测工具：<b th:text="${brief.taskBriefVOList[0].tool==1}?'findbugs':(${brief.taskBriefVOList[0].tool==2}?:'pmd')"></b></li>
                        <li class="list-group-item">高等级缺陷：<b th:text="${brief.taskBriefVOList[0].highNum}"></b></li>
                        <li class="list-group-item">中等级缺陷：<b th:text="${brief.taskBriefVOList[0].midNum}"></b></li>
                        <li class="list-group-item">低等级缺陷：<b th:text="${brief.taskBriefVOList[0].lowNum}"></b></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-info" style="margin:-275px 10px 10px 500px;width:300px;hight:300px">
                <div class="panel-heading">
                    <h3 class="panel-title">任务名：<b th:text="${brief.taskBriefVOList[1].taskName}"></b></h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">检测工具：<b th:text="${brief.taskBriefVOList[1].tool==1}?'findbugs':(${brief.taskBriefVOList[1].tool==2}?:'pmd')"></b></li>
                        <li class="list-group-item">高等级缺陷：<b th:text="${brief.taskBriefVOList[1].highNum}"></b></li>
                        <li class="list-group-item">中等级缺陷：<b th:text="${brief.taskBriefVOList[1].midNum}"></b></li>
                        <li class="list-group-item">低等级缺陷：<b th:text="${brief.taskBriefVOList[1].lowNum}"></b></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-info" style="margin:40px 10px 10px 0px;width:300px;hight:300px">
                <div class="panel-heading">
                    <h3 class="panel-title">任务名：<b th:text="${brief.taskBriefVOList[2].taskName}"></b></h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">检测工具：<b th:text="${brief.taskBriefVOList[2].tool==1}?'findbugs':(${brief.taskBriefVOList[2].tool==2}?:'pmd')"></b></li>
                        <li class="list-group-item">高等级缺陷：<b th:text="${brief.taskBriefVOList[2].highNum}"></b></li>
                        <li class="list-group-item">中等级缺陷：<b th:text="${brief.taskBriefVOList[2].midNum}"></b></li>
                        <li class="list-group-item">低等级缺陷：<b th:text="${brief.taskBriefVOList[2].lowNum}"></b></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-info" style="margin:-265px 10px 10px 500px;width:300px;hight:300px">
                <div class="panel-heading">
                    <h3 class="panel-title">任务名：<b th:text="${brief.taskBriefVOList[3].taskName}"></b></h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">检测工具：<b th:text="${brief.taskBriefVOList[3].tool==1}?'findbugs':(${brief.taskBriefVOList[3].tool==2}?:'pmd')"></b></li>
                        <li class="list-group-item">高等级缺陷：<b th:text="${brief.taskBriefVOList[3].highNum}"></b></li>
                        <li class="list-group-item">中等级缺陷：<b th:text="${brief.taskBriefVOList[3].midNum}"></b></li>
                        <li class="list-group-item">低等级缺陷：<b th:text="${brief.taskBriefVOList[3].lowNum}"></b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--对比任务-->
    <div class="panel panel-success" style="margin:-652px 10px 10px 980px;width:900px;hight:900px">
        <div class="panel-heading">
            <h3 class="panel-title">最近的对比任务</h3>
        </div>
        <div class="panel-body">
            <div class="panel panel-danger" style="width:300px;hight:300px">
                <div class="panel-heading">
                    <h3 class="panel-title">任务名：<b th:text="${brief.compareTaskBriefList[0].taskName}"></b></h3>
                </div>
                <div class="panel-body">
                    <br/>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>检测工具</th>
                            <th>findBugs</th>
                            <th>pmd</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>高等级缺陷</td>
                            <td><b th:text="${brief.compareTaskBriefList[0].highNumF}"></b></td>
                            <td><b th:text="${brief.compareTaskBriefList[0].highNumP}"></b></td>
                        </tr>
                        <tr>
                            <td>中等级缺陷</td>
                            <td><b th:text="${brief.compareTaskBriefList[0].midNumF}"></b></td>
                            <td><b th:text="${brief.compareTaskBriefList[0].midNumP}"></b></td>
                        </tr>
                        <tr>
                            <td>低等级缺陷</td>
                            <td><b th:text="${brief.compareTaskBriefList[0].lowNumF}"></b></td>
                            <td><b th:text="${brief.compareTaskBriefList[0].lowNumP}"></b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-danger" style="margin:-278px 10px 10px 500px;width:300px;hight:300px">
                <div class="panel-heading">
                    <h3 class="panel-title">任务名：<b th:text="${brief.compareTaskBriefList[1].taskName}"></b></h3>
                </div>
                <div class="panel-body">
                    <br/>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>检测工具</th>
                            <th>findBugs</th>
                            <th>pmd</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>高等级缺陷</td>
                            <td><b th:text="${brief.compareTaskBriefList[1].highNumF}"></b></td>
                            <td><b th:text="${brief.compareTaskBriefList[1].highNumP}"></b></td>
                        </tr>
                        <tr>
                            <td>中等级缺陷</td>
                            <td><b th:text="${brief.compareTaskBriefList[1].midNumF}"></b></td>
                            <td><b th:text="${brief.compareTaskBriefList[1].midNumP}"></b></td>
                        </tr>
                        <tr>
                            <td>低等级缺陷</td>
                            <td><b th:text="${brief.compareTaskBriefList[1].lowNumF}"></b></td>
                            <td><b th:text="${brief.compareTaskBriefList[0].lowNumP}"></b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-danger" style="margin:40px 10px 10px 0px;width:300px;hight:300px">
                <div class="panel-heading">
                    <h3 class="panel-title">任务名：<b th:text="${brief.compareTaskBriefList[2].taskName}"></b></h3>
                </div>
                <div class="panel-body">
                    <br/>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>检测工具</th>
                            <th>findBugs</th>
                            <th>pmd</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>高等级缺陷</td>
                            <td><b th:text="${brief.compareTaskBriefList[2].highNumF}"></b></td>
                            <td><b th:text="${brief.compareTaskBriefList[2].highNumP}"></b></td>
                        </tr>
                        <tr>
                            <td>中等级缺陷</td>
                            <td><b th:text="${brief.compareTaskBriefList[2].midNumF}"></b></td>
                            <td><b th:text="${brief.compareTaskBriefList[2].midNumP}"></b></td>
                        </tr>
                        <tr>
                            <td>低等级缺陷</td>
                            <td><b th:text="${brief.compareTaskBriefList[2].lowNumF}"></b></td>
                            <td><b th:text="${brief.compareTaskBriefList[2].lowNumP}"></b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-danger" style="margin:-269px 10px 10px 500px;width:300px;hight:300px">
                <div class="panel-heading">
                    <h3 class="panel-title">任务名：<b th:text="${brief.compareTaskBriefList[3].taskName}"></b></h3>
                </div>
                <div class="panel-body">
                    <br/>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>检测工具</th>
                            <th>findBugs</th>
                            <th>pmd</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>高等级缺陷</td>
                            <td><b th:text="${brief.compareTaskBriefList[3].highNumF}"></b></td>
                            <td><b th:text="${brief.compareTaskBriefList[3].highNumP}"></b></td>
                        </tr>
                        <tr>
                            <td>中等级缺陷</td>
                            <td><b th:text="${brief.compareTaskBriefList[3].midNumF}"></b></td>
                            <td><b th:text="${brief.compareTaskBriefList[3].midNumP}"></b></td>
                        </tr>
                        <tr>
                            <td>低等级缺陷</td>
                            <td><b th:text="${brief.compareTaskBriefList[3].lowNumF}"></b></td>
                            <td><b th:text="${brief.compareTaskBriefList[3].lowNumP}"></b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>