<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div style="margin: -50px 10px 100px 10px;">
    <img src="/img/logo.png" style="width: auto; height: auto;margin: 10px 10px -30px 10px;"/>
    <ul class="nav nav-tabs" style="margin: -100px 10px 10px 400px">
        <li><a href="/home/brief">首页</a></li>
        <li class="active"><a href="/tasks/list">普通任务</a></li>
        <li><a href="/compare/list">对比任务</a></li>
        <li><a href="/tool/direct">工具对比</a></li>
    </ul>
    <form th:action="@{/logout}" method="post" style="margin: -40px 10px 10px 1800px">
        <input type="submit" value="注销"/>
    </form>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <form enctype="multipart/form-data" method="post" th:action="@{/tasks/handleUpload}">
            文件<br/><br/><input type="file" name="file"/>
            <br/>
            任务名<br/><br/>
            <input type="text" name="name">
            <br/><br/><br/>
            <p>检测工具</p>
            <input type="radio" name="tool" value="male" checked>findbugs
            <br><br/>
            <input type="radio" name="tool" value="female">pmd
            <br/><br/><br/><br/>
            <input type="submit" value="发起检测"/>

        </form>
    </div>
</div>
</body>

</html>