<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>codelint</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<script>
    function aaa() {
        $.ajax({
            type:"get",
            url:"/tasks/upload",
            success:function () {

            },
            error:function () {

            }
        })
    }
    function getDetail(obj) {
        var taskId = $(obj).attr("id");
        $.ajax({
            type:"get",
            url:"/tasks/detail",
            data:{"taskId":taskId},
            success:function () {

            },
            error:function () {

            }
        })
    }
</script>
<div style="margin: -50px 10px 100px 10px;">
    <img src="/img/logo.png" style="width: auto; height: auto;margin: 10px 10px -30px 10px;"/>
    <ul class="nav nav-tabs" style="margin: -100px 10px 10px 400px">
        <li><a href="/home/brief">首页</a></li>
        <li class="active"><a href="/tasks/list">普通任务</a></li>
        <li><a href="/compare/list">对比任务</a></li>
        <li><a href="/tool/direct">工具对比</a></li>
    </ul>
</div>

<div class="panel panel-info" style="margin-left: 10px">
    <div class="panel-heading">任务列表<button class="btn btn-default" type="submit" style="margin-left: 1200px"><a href="/tasks/upload">发起检测</a></button></div>
    <table class="table">
        <th>任务名</th>
        <th>发起时间</th>
        <th>检测状态</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作</th>
        <tr th:each="task:${tasks}">
            <td th:text="${task.taskName}" style="color: dodgerblue"></td>
            <td th:text="${task.launchTime}"></td>
            <td style="color: yellowgreen"><span th:if="${task.checkStatus eq 2}">检测成功</span></td>
            <td>
                <a th:href="@{/tasks/direct(taskId=${task.taskId})}">检测统计</a>
                <a th:href="@{/report/download(taskId=${task.taskId},taskType=1,tool=0)}">查看报告</a>
                <a th:href="@{/tasks/detail(taskId=${task.taskId})}">删除</a>
            </td>
        </tr>
    </table>
</div>


</body>
</html>